body {
  font-family: "Roboto", system-ui;
  background-image: url("media/weather-scenarios-collage-dbk9c5n23l7e5fgb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

form {
  text-align: right;
  font-family: "Roboto", system-ui;
}

h1 {
  color: #013a63;
  text-shadow: 1px 1px 1px white;
  padding-top: 10px;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 10px;
}

h2,
h3 {
  color: #013a63;
  text-shadow: 1px 1px 1px white;
}

h4 {
  color: #013a63;
  text-shadow: 1px 1px 1px white;
}

h5 {
  color: #013a63;
  font-weight: 600;
  margin: 3px;
  text-shadow: 1px 1px 1px white;
}

i {
  color: #013a63;
  text-shadow: 1px 1px 1px white;
  font-size: 32px;
}

p {
  font-size: 16px;
  text-align: center;
  color: #013a63;
  padding-bottom: 20px;
}

img.forecast-icon {
  width: 50px;
  margin-bottom: 8px;
}

.weather-app {
  background-size: cover;
  max-width: 800px;
  margin: 12px auto;
  padding: 25px;
  border-radius: 20px;
}

.container {
  background-color: white;
  border-radius: 10px;
  margin: 240px auto;
  max-width: 800px;
  display: block;
  align-items: center;
}
.temperature-units {
  display: flex;
}

.emoji {
  display: block;
  font-size: 50px;
}

h2.weather-temp {
  font-size: 36px;
  font-weight: 700;
}
h1.forecast-day {
  font-size: 22px;
  font-weight: 600;
}
h3.forecast-temp {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.units {
  margin-left: 10px;
  color: #013a63;
  text-shadow: 1px 1px 1px white;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}

.units a {
  color: gray;
  opacity: 50%;
  text-shadow: 1px 1px 1px white;
}

.location-button {
  margin: 0;
  padding: 1px 4px;
}

.fa-map-marker-alt {
  font-size: 14px;
  color: #013a63;
}
.units a.active {
  text-decoration: none;
  cursor: default;
  color: #013a63;
  opacity: 100%;
  text-shadow: 1px 1px 1px white;
}
.description::first-letter {
  text-transform: capitalize;
}

.codedby {
  color: #468faf;
}
button {
  border-radius: 10px;
  box-shadow: 1px 1px 1px lightblue;
  font-family: "Roboto", system-ui;
  background-color: #a9a9a9;
  border: none;
}
input {
  box-shadow: 1px 1px 1px lightblue;
  font-family: "Roboto", system-ui;
  font-size: 18px;
}
#city-input {
  border-radius: 4px;
  background-color: #a9d6e5;
  border: none;
  padding: 5px;
}
#search-button {
  background-color: #89c2d9;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
